node_modules/
dist/
dist-electron/
out/
release/
*.log
.DS_Store
Thumbs.db
.VSCodeCounter/

# Yarn
.yarn/
.pnp.*
t5xxl_fp8_e4m3fn.safetensors.aria2
ae.safetensors
clip_l.safetensors
t5xxl_fp8_e4m3fn.safetensors
flux1-kontext-dev-Q3_K_S.gguf
