[Desktop Entry]
Name=Friendly Kobold
Comment=A desktop app for running Large Language Models locally
Exec=friendly-kobold %U
Terminal=false
Type=Application
Icon=friendly-kobold
Categories=Utility;
StartupWMClass=Friendly Kobold