[Desktop Entry]
Name=Friendly Kobold
Comment=A koboldcpp manager.
Exec=friendly-kobold %U
Icon=friendly-kobold
Type=Application
Categories=Development;TextEditor;
StartupWMClass=friendly-kobold
StartupNotify=true
