[Desktop Entry]
Name=Gerbil
Comment=Run Large Language Models locally
Exec=gerbil %U
Terminal=false
Type=Application
Icon=gerbil
Categories=Network;Chat;Utility;
StartupWMClass=Gerbil
